main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

input {
    width: 100%;
    height: 40px;
    background-color: var(--second-background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


#filters-aside {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 30%;
    gap: 10px;
}

#categories-container,
#game-settings-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    margin-right: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

#categories-container h3 {
    margin: 0;
}

.tag-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tag {
    width: max-content;
    color: var(--text-color);
}


#mod-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 15px;
}

.mod-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: var(--second-background-color);
    border-radius: 5px;
    width: 100%;
    height: 120px;
    transition: ease-in 0.2s;
    box-sizing: border-box;
}

.mod-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70%;
    height: 100%;
}

.mod-item:hover {
    background-color: var(--hover-background-color);
}

.mod-img {
    width: 64px;
    height: 64px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.mod-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.mod-title {
    display: flex;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.mod-description {
    display: flex;
    font-size: 14px;
    margin: 0;
}

.download-section {
    display: flex;
    width: 30%;
    justify-content: center;
    padding: 20px;
}

.download-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.download-btn:hover {
    background-color: rgb(173, 173, 173);
}