.mod-list {
    margin-top: 20px;
}

.mod-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--second-background-color);
    border-radius: 5px;
    width: 400px;
    height: 100px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.mod-item:hover {
    background-color: var(--hover-background-color);
}

.mod-img {
    width: 64px;
    height: 64px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.mod-title {
    font-size: 20px;
    margin-left: 20px;
}

.download-btn {
    margin-left: 20px;
}