#mod-view-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

#mod-view-img {
    padding: 10px;
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mod-view-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

#mod-view-name {
    font-size: 40px;
    margin: 0;
}

#mod-view-downloads,
#mod-view-author {
    display: flex;
}

#mod-view-author-placeholder,
#mod-view-downloads-placeholder {
    font-weight: bold;
    margin-right: 10px;
}

#game-versions-select {
    height: 20px;
    width: 80px;
    margin-left: 20px;

    display: none;
}

main {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

#tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding: 0;
}

.tab-button,
#download-btn {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid;
    border-color: #ccc;
    margin-bottom: -1px;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

#download-btn {
    background-color: dodgerblue;
    color: white;
    margin-right: 2rem;
}

#page-content {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 80%;
}

#tab-content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-top: 0;
    border-color: #ccc;
    padding: 10px;
}

.tab-button:hover {
    background-color: #eee;
}

.tab-button.active {
    background-color: white;
    border-color: #ccc;
}

#mod-section-aside {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.info-section h1 {
    margin: 0;
}

#mod-version-list {
    display: none;
    flex-direction: column;
}

.mod-version-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 700px;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;
}

#back-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}