#mod-view-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#mod-view-img {
    padding: 10px;
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mod-view-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    width: 400px;
}

#mod-view-name {
    font-size: 40px;
    margin: 0;
}

#mod-view-header-data {

}

#mod-view-author {

}

#mod-view-downloads {

}


#game-versions-select {
    height: 20px;
    width: 80px;
    margin-left: 20px;

    display: none;
}

#mod-version-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 700px;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;

    display: none;
}

#back-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}