#mod-view-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#mod-view-img {
    padding: 10px;
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mod-view-title {
    font-size: 40px;
    margin-left: 40px;
}

#game-versions-select {
    height: 20px;
    width: 80px;
    margin-left: 20px;
}

#mod-version-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 700px;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;
}

#back-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}