
:root {
    --background-color: #ffffff;
    --second-background-color: #fafafa;
    --hover-background-color: #cccccc;

    --text-color: #333333;
    --contrast-text-color: #000000;

    --link-color: rgb(53, 141, 255);

    --border-color: #CCCCCC;

    --button-hover: #eee;
    --button-active: white;
    --button-boder: #ccc;
}

.dark-mode {
    --background-color: #2a2a2a;
    --second-background-color: #464646;
    --hover-background-color: #2e2e2e;
    
    --text-color: #ebebeb;
    --contrast-text-color: #333333;

    --link-color: rgb(60, 84, 218);

    --border-color: #636363;

    --button-hover: #3a3a3a;
    --button-active: #1e1e1e;
    --button-border: #636363; 
}